body {
    background-image: url(img/123123.jpg);
    margin-left: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
}
ul{
    position: absolute;
    left: 0%;
    list-style-type: none;
    font-size: 30px;
    
}
i{
    font-size: 30px;
}

li{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

img {
    position: absolute;
    top: 350px;
    right: 500px;
    width: 1000px;

    }